<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="app">
            <header>
                <h1>{{ appName }}</h1>
                <div class="action_button" v-on:click.capture="ripple">
                    <span>+</span>
                </div>
            </header>
            <section>
                <div v-for="(date, index) in dates" class="item">
                    <span v-on:click="removeList(index, $event)">☓</span>
                    <span>{{ date.name }}</span>
                    <span>{{ date.deadLine }}</span>
                </div>
            </section>
            <div class="overlay" v-bind:class="{show: buttonFlag, hide: !buttonFlag}" v-on:click="modalOff">
                <div class="modalWindow" v-on:click.stop>
                    <div class="action_button" v-on:click="modalOff">
                        <span>☓</span>
                    </div>
                    <input type="text" v-model="foodName">
                    <input type="date" v-bind:value="nowDate" v-model="deadLine">
                    <input type="button" value="Add" v-on:click.capture="addList">
                </div>
            </div>
        </div>
        
        <script src="./node_modules/vue/dist/vue.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>
